{% load static %}
<div class="row mb-4 p-2">
  <!-- <div class="col-xl-5 col-xxl-4 mb-4 mb-xl-0">
    <script id="_carbonads_js" async="" type="text/javascript"
      src="//cdn.carbonads.com/carbon.js?serve=CEAICKJY&amp;placement=coreuiio"></script>
  </div> -->
  <div class="col-xl-12 col-xxl-12 banner-coreui-pro">
      <img class="center-image" style="width:15%" src="{% static 'assets/img/logo carte2.png' %}" alt="logo-socar">
      <!-- <h4 class="fw-bolder">Bienvenue sur le systeme de gestions de suivie et la consomations des montants maximals de couverteure</h4> -->
      <h4 class="fw-bolder">Bienvenue sur le systeme de gestions des impressions des cartes</h4>
      <p>Ce système assure un suivi précis des commandes d'impression. Il permet également de suivre l'évolution des impressions en temps réel, de gérer les priorités et d'optimiser l'utilisation des ressources. Grâce à ce système, vous pouvez garantir un processus d'impression fluide, rapide et bien organisé</p>
      
  </div>
</div>